#titlewrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 3px solid gray
}
#grid {
  display: grid;
  grid-template-rows: 1fr;
}
#grid li{
  display: inline-block;
  width: 10% auto;
  padding: 17px;
  text-align: center;
}
#grid ol{
  display: inline;
  text-align: center;
  border-left: solid gray;
  border-right: solid gray;
  padding-inline-start: 6%;
  padding-inline-end: 6%;
}
.now {
  text-decoration: underline; color: blue;
}
.main {
  text-align: center;
  margin: 10px;
  ;}
.list {
  width: 35%;
  margin: 0 auto;
  padding-left: 32.5%;
  padding-right: 32.5%;
  font-size: 120%;
  border-bottom: solid gray;
}
a {
  text-decoration: none;
  color: black;
}
body
{background-image:url("snow.jpg");}
@media (min-width:810px) and (max-width:1828px){
  #grid ol{
    display: block;
    text-align: center;
    border-left: solid gray;
    border-right: solid gray;
    padding-inline-start: 6%;
    padding-inline-end: 6%;
 }
  #grid li{
    display: block;
    width: 10% auto;
    padding: 17px;
    text-align: center;
 }
}
@media(max-width:810px) {
  #grid ol{
    display: block;
    text-align: center;
    border-right: none;
    border-left: none;
    padding-inline-start: 6%;
    padding-inline-end: 6%;
 }
  #grid li{
    display: block;
    width: 10% auto;
    padding: 17px;
    text-align: center;
    border-left: solid gray;
    border-right: solid gray;
 }
 .list {
   width: 100%;
   margin: 0 auto;
   font-size: 120%;
   border-bottom: solid gray;
   padding-left: 0;
   padding-right: 0;
 }
}
